# Chapter 5 - Basic Instructed Operations

In this notebook, several methods and functions will be introduced to transfrom DataFrames. Before jumping in the codes, it will be helpful to understand the objects in pyspark.sql module to clarify the ***methods*** applied to each class and the ***functions*** imported from `pyspark.sql.functions`, which is also a class of Spark SQL.

Important classes of Spark SQL and DataFrames:

- **pyspark.sql.SparkSession** Main entry point for DataFrame and SQL functionality.
- **pyspark.sql.DataFrame** A distributed collection of data grouped into named columns.
- **pyspark.sql.Column** A column expression in a DataFrame.
- **pyspark.sql.Row** A row of data in a DataFrame.
- **pyspark.sql.GroupedData** Aggregation methods, returned by DataFrame.groupBy().
- **pyspark.sql.DataFrameNaFunctions** Methods for handling missing data (null values).
- **pyspark.sql.DataFrameStatFunctions** Methods for statistics functionality.
- **pyspark.sql.functions** List of built-in functions available for DataFrame.
- **pyspark.sql.types** List of data types available.
- **pyspark.sql.Window** For working with window functions.


Documentation: https://spark.apache.org/docs/latest/api/python/pyspark.sql.html?highlight=column#pyspark-sql-module

- **Methods of *class* pyspark.sql.SparkSession: `read.format()`, `load()`**

In [4]:
df = spark.read.format("json").load("../pyspark-training/data/The-Definitive-Guide/flight-data/2015-summary.json")

- **Method of *class* pyspark.sql.DataFrame: `printSchem()`**`

In [5]:
df.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: long (nullable = true)

In [6]:
spark.read.format("json").load("../pyspark-training/data/The-Definitive-Guide/flight-data/2015-summary.json").schema

StructType(List(StructField(DEST_COUNTRY_NAME,StringType,true),StructField(ORIGIN_COUNTRY_NAME,StringType,true),StructField(count,LongType,true)))

## Schemas
### Manually Create Schema
- **Functions or objects of *class* pyspark.sql.types: `StructField()`, `StructType()`, `StringType()`, `LongType()`**

In [9]:
from pyspark.sql.types import StructField, StructType, StringType, LongType

In [10]:
myManualSchema = StructType([
    StructField("DEST_COUNTRY_NAME", StringType(), True),
    StructField("ORIGIN_COUNTRY_NAME", StringType(), True),
    StructField("count", LongType(), False, metadata={"hello":"world"})
])

df = spark.read.format("json").schema(myManualSchema)\
    .load("../pyspark-training/data/The-Definitive-Guide/flight-data/2015-summary.json")

## Records and Rows
- **Method of *class* pyspark.sql.DataFrame: `first()`**

In [11]:
df.first()

Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Romania', count=15)

***class* pyspark.sql.Row**

**Note: pyspark.sql.Row is part of pyspark.sql**

In [14]:
from pyspark.sql import Row

In [15]:
myRow = Row("Hello", None, 1, False)
myRow[0]

'Hello'

## DataFrame Transformations

In [16]:
df = spark.read.format("json").load("../pyspark-training/data/The-Definitive-Guide/flight-data/2015-summary.json")
df.createOrReplaceTempView("dfTable")

- **Methods of *class* pyspark.sql.DataFrame: `select()`, `selectExpr()`**

- **SQL Functions: `expr()`, `col()`, `column()`**

In [18]:
df.select("DEST_COUNTRY_NAME", "ORIGIN_COUNTRY_NAME").show(2)

+-----------------+-------------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|
+-----------------+-------------------+
|    United States|            Romania|
|    United States|            Croatia|
+-----------------+-------------------+
only showing top 2 rows

#### Columns are expressions: Columns can be refered in a number of different ways

In [20]:
from pyspark.sql.functions import expr, col, column

In [21]:
df.select(
    expr("DEST_COUNTRY_NAME"),
    col("DEST_COUNTRY_NAME"),
    column("DEST_COUNTRY_NAME")
).show(2)

+-----------------+-----------------+-----------------+
|DEST_COUNTRY_NAME|DEST_COUNTRY_NAME|DEST_COUNTRY_NAME|
+-----------------+-----------------+-----------------+
|    United States|    United States|    United States|
|    United States|    United States|    United States|
+-----------------+-----------------+-----------------+
only showing top 2 rows

**Simple *expressions* that don't require imported functions or methods could be applied through `expr()` or `selectExpr()`**

In [23]:
df.select(expr("DEST_COUNTRY_NAME AS destination")).show(2)

+-------------+
|  destination|
+-------------+
|United States|
|United States|
+-------------+
only showing top 2 rows

In [24]:
df.selectExpr("DEST_COUNTRY_NAME AS destination", "DEST_COUNTRY_NAME").show(2)

+-------------+-----------------+
|  destination|DEST_COUNTRY_NAME|
+-------------+-----------------+
|United States|    United States|
|United States|    United States|
+-------------+-----------------+
only showing top 2 rows

In [25]:
df.selectExpr(
    "*",
    "(DEST_COUNTRY_NAME = ORIGIN_COUNTRY_NAME) AS withinCountry"
).show(2)

+-----------------+-------------------+-----+-------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|withinCountry|
+-----------------+-------------------+-----+-------------+
|    United States|            Romania|   15|        false|
|    United States|            Croatia|    1|        false|
+-----------------+-------------------+-----+-------------+
only showing top 2 rows

In [26]:
# Aggregate the entire table
df.selectExpr("avg(count)", "count(distinct(DEST_COUNTRY_NAME))").show(2)

+-----------+---------------------------------+
| avg(count)|count(DISTINCT DEST_COUNTRY_NAME)|
+-----------+---------------------------------+
|1770.765625|                              132|
+-----------+---------------------------------+

### Converting to Spark Types (Literals)
- **Function of *class* pyspark.sql.functions: `lit()`**

- **Method of *class* pyspark.sql.Column: `alias()`**

**When expressions need to be used simultaneously with other functions, we include expressions in `expr()` at the same time with other functions within `select()`**

In [27]:
from pyspark.sql.functions import lit

In [29]:
# Note how expr(), lit(), and alias() are used here
df.select(expr("*"), lit(1).alias("One")).show(2)

+-----------------+-------------------+-----+---+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|One|
+-----------------+-------------------+-----+---+
|    United States|            Romania|   15|  1|
|    United States|            Croatia|    1|  1|
+-----------------+-------------------+-----+---+
only showing top 2 rows

### Adding Columns
- **Method of *class* pyspark.sql.DataFrame: `withColumn()`**

A more formal way

In [31]:
df.withColumn("numberOne", lit(1))\
    .withColumn("withinCountry", expr("DEST_COUNTRY_NAME = ORIGIN_COUNTRY_NAME"))\
    .show(2)

+-----------------+-------------------+-----+---------+-------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|numberOne|withinCountry|
+-----------------+-------------------+-----+---------+-------------+
|    United States|            Romania|   15|        1|        false|
|    United States|            Croatia|    1|        1|        false|
+-----------------+-------------------+-----+---------+-------------+
only showing top 2 rows

### Rename Columns
- **Method of *class* pyspark.sql.DataFrame: `withColumnRenamed()`**

In [32]:
df.withColumnRenamed("DEST_COUNTRY_NAME", "dest").columns

['dest', 'ORIGIN_COUNTRY_NAME', 'count']

### Change a Colun's Type (cast)
- **Method of *class* pyspark.sql.Column: `cast()`**

In [33]:
# Note that cast() is a method
df.withColumn("count2", col("count").cast("long"))

DataFrame[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string, count: bigint, count2: bigint]

### Filter Rows
- **Methods of *class* pyspark.sql.Column: `filter()`, `where()`**

In [35]:
df.filter(col("count") < 2).show(2)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Croatia|    1|
|    United States|          Singapore|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

In [39]:
df.where("count < 2").where(col("ORIGIN_COUNTRY_NAME") != "Croatia").show(2)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|          Singapore|    1|
|          Moldova|      United States|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

### Getting Unique Rows
- **Methods of *class* pyspark.sql.Column: `distinct()`, `count()`**

In [41]:
df.select("ORIGIN_COUNTRY_NAME").distinct().count()

125

### Sorting Rows
- **Methods of *class* pyspark.sql.Column: `sort()`, `orderBy()`**
- **Functions of *class* pyspark.sql.funcitons: `desc()`, `asc()`**

In [42]:
df.sort("count").show(5)

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|               Malta|      United States|    1|
|Saint Vincent and...|      United States|    1|
|       United States|            Croatia|    1|
|       United States|          Gibraltar|    1|
|       United States|          Singapore|    1|
+--------------------+-------------------+-----+
only showing top 5 rows

In [43]:
from pyspark.sql.functions import desc, asc

In [45]:
df.orderBy(col("count").desc(), col("DEST_COUNTRY_NAME").asc()).show(2)

+-----------------+-------------------+------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| count|
+-----------------+-------------------+------+
|    United States|      United States|370002|
|    United States|             Canada|  8483|
+-----------------+-------------------+------+
only showing top 2 rows

### Limit
- **Method of *class* pyspark.sql.Column: `limit()`**

In [46]:
df.limit(5).show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+

### Repartition
- **Method of *class* pyspark.sql.Column: `repartition()`**

In [47]:
df.rdd.getNumPartitions()

1

In [48]:
df.repartition(5, col("DEST_COUNTRY_NAME"))

DataFrame[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string, count: bigint]

### Collecting Rows to the Driver
- **Methods of *class* pyspark.sql.Column: `take()`, `collect()`**

In [50]:
collectDF = df.limit(10)
collectDF.take(5)
collectDF.show()
collectDF.show(5, False)
collectDF.collect()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
|    United States|          Singapore|    1|
|    United States|            Grenada|   62|
|       Costa Rica|      United States|  588|
|          Senegal|      United States|   40|
|          Moldova|      United States|    1|
+-----------------+-------------------+-----+

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|United States    |Romania            |15   |
|United States    |Croatia            |1    |
|United States    |Ireland            |344  |
|Egypt            |United States      |15   |
|United States    |India              |62   |
+-----------------+-------------------+-----+
only showing top 5 rows

[Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Romania', count=15),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Croatia', count=1),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Ireland', count=344),
 Row(DEST_COUNTRY_NAME='Egypt', ORIGIN_COUNTRY_NAME='United States', count=15),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='India', count=62),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Singapore', count=1),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Grenada', count=62),
 Row(DEST_COUNTRY_NAME='Costa Rica', ORIGIN_COUNTRY_NAME='United States', count=588),
 Row(DEST_COUNTRY_NAME='Senegal', ORIGIN_COUNTRY_NAME='United States', count=40),
 Row(DEST_COUNTRY_NAME='Moldova', ORIGIN_COUNTRY_NAME='United States', count=1)]